.jumbotron{
  text-align: center;
  border-radius: 350px;
  letter-spacing: 6px;
  background-color: rgba(245, 245, 245, 0.8);
}
/*#heading,#heading_2,#heading_3,#heading_4{
  text-align: center;
}*/


#textcenter {
  text-align: center;
}

#length {

}

body {
  font-family: 'Jaldi', sans-serif;
}

.basic {
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.sun {
  background-image: url(../img/sun.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.rain {
  background-image: url(../img/rain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.cloud {
  background-image: url(../img/cloud.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.snow {
  background-image: url(../img/snow.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#center {
}

.well {
   background-color: rgba(245, 245, 245, 0.7);
}

#showBadWeather {
  display: none;
}

#showBadTemp {
  display: none;
}

#showGreatDay {
  display: none;
}

#score0 {
  display: none;
}
#score1 {
  display: none;
}
#score2 {
  display: none;
}
#score3 {
  display: none;
}
#score4 {
  display: none;
}
#score5 {
  display: none;
}
#score6 {
  display: none;
}
#score7 {
  display: none;
}
#score8 {
  display: none;
}
#score9 {
  display: none;
}
#fancy {
  font-family: 'Cinzel', serif;
  border: solid;
  border-radius: 350px;
  background-color: lightblue;
  border-color: black;
  width: 300px;
  text-align: center;
  height: 50px;
  font-size: 31px;
}
